@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin: 2rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.4rem;
}

h4,
h5 {
  font-size: var(--header4);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

p {
  font-weight: 400;
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 53%;
  }
  svg {
    width: 95%;
  }
}

@media screen and (max-width: 1070px) {
  html {
    font-size: 50%;
  }
  svg {
    width: 80%;
  }
}

@media screen and (max-width: 716px) {
  html {
    font-size: 45%;
  }
  svg {
    height: 100%;
  }
  .heading1 {
    display: none;
  }
}

@-webkit-keyframes plant1 {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
}

@keyframes plant1 {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
}

@-webkit-keyframes me {
  from {
    -webkit-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
  }
  to {
    -webkit-transform: rotateZ(2deg);
            transform: rotateZ(2deg);
  }
}

@keyframes me {
  from {
    -webkit-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
  }
  to {
    -webkit-transform: rotateZ(2deg);
            transform: rotateZ(2deg);
  }
}

@-webkit-keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
  padding-left: 20px;
}

.main-head__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  width: 55%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-head__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

.main-head__links-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.main-head__link_active {
  background: #2c2c2c;
  color: white;
  padding: 1rem 3rem;
  border-radius: 4rem;
}

@media screen and (max-width: 1070px) {
  .main-head {
    width: 100%;
    border-bottom: 1px solid rgba(189, 189, 189, 0.3);
  }
  .main-head__nav {
    width: 100%;
  }
}

@media screen and (max-width: 716px) {
  .main-head__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 3rem 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20rem;
            flex: 1 1 20rem;
  }
  .main-head__links-block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60rem;
            flex: 1 1 60rem;
    margin-bottom: 25px;
  }
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro__heading2 {
  font-size: 8rem;
  padding-top: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#FA6F20), to(#ccb21d));
  background: linear-gradient(left, #FA6F20, #ccb21d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro__heading3 {
  font-size: 5rem;
  padding: 2rem 0;
}

.intro__text {
  padding-top: 2rem;
  color: #2c2c2c;
}

.intro__social {
  margin-top: 4rem;
}

.intro__social-link {
  margin-right: 2rem;
}

.intro__images {
  text-align: right;
}

.splash {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

.intro__text,
.intro__images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

#plant_left {
  animation: plant1 2s ease-in-out alternate-reverse infinite;
}

#plant_right {
  animation: plant1 2s ease-in-out .5s alternate-reverse infinite;
}

#me_2 {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  animation: me 1s ease-in-out alternate-reverse infinite;
}

#clock_arrow {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  transform-box: fill-box;
  -webkit-animation: clock 2s infinite linear;
          animation: clock 2s infinite linear;
}

@media screen and (max-width: 1070px) {
  .splash {
    display: none;
  }
  .intro__images {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 716px) {
  .intro {
    width: 100%;
  }
  .intro__text {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
  }
  .intro__images {
    padding: 15px;
  }
  .intro__social {
    width: 100%;
  }
  .intro__social-link {
    margin: 2rem;
  }
}

.projects {
  width: 90%;
  margin: auto;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10rem 0;
}

.project-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  margin-bottom: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-card__heading {
  margin-bottom: 5rem;
}

@media screen and (max-width: 716px) {
  .project-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60rem;
            flex: 1 1 60rem;
  }
  .project-card__image {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */